

<div class="container-fluid content-container pb-2 zoomProperty1">

    <div class="breadcrum-division light-dark-mode-text row">
      <div class="d-flex col-12 pt-2">
        <span class="d-flex align-items-center"><p class="mb-0 border-bottom-effect" >Sam-Custopedia</p><span class="ps-2 d-flex"><img class="icon-light-dark-mode"  src="/assets/vector1.svg" height="11px" alt=""></span></span>
        <span class="d-flex align-items-center ps-3"><p class="mb-0 border-bottom-effect" >Master</p><span class="ps-2 d-flex"><img class="icon-light-dark-mode" src="/assets/vector1.svg"  height="11px" alt=""></span></span>
        <span class="d-flex align-items-center ps-3"><p class="mb-0 border-bottom-effect" >Application</p></span>
      </div>
    </div>
    <button (click)="downloadexcel()">
        Download
    </button>
</div>