<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.5" shutdownTimeout="120" executionTimeout="100000" useFullyQualifiedRedirectUrl="true" maxRequestLength="214748364" requestLengthDiskThreshold="81920" maxUrlLength="2048" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" enableVersionHeader="false" requestValidationMode="2.0" fcnMode="Single" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="AuthConn" connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};Database=vcidex;UID=root;port=3306;PWD=vision!8;Server=localhost;" />-->
    <!--<add name="AuthConn" connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};Database=vcidex_angular;UID=DEV-ERP;port=6456;PWD=Vision@18;Server=202.21.32.137;" />-->
    <add name="AuthConn" connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};Database=vcidex;UID=root;port=6456;PWD=vision!8;Server=localhost;" />
  </connectionStrings>
  <appSettings>
    <add key="companylinkname" value="systems" />
    <add key="report_api_path" value="http://localhost/EMS.Reports/api/" />
    <add key="debug" value="on" />
    <add key="localhost" value="vcidex" />
    <add key="hari.localhost.com" value="vcidex" />
    <add key="dev-ws-1-vm.southeastasia.cloudapp.azure.com" value="vcidex" />
    <add key="tokenhost" value="localhost/FrameworkAPI/" />
    <add key="tokendomain" value="token" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="company_name" value="vcidex" />
    <add key="company_code" value="vcidex" />
    <add key="protocol" value="http://" />
    <add key="externalportal" value="vcidex" />
    <add key="host" value="localhost" />
    <add key="live" value="dev-ws-1-vm.southeastasia.cloudapp.azure.com" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="file_path" value="E:/Web/EMS" />
       <add key="exportexcelfile" value="E:/Angular15/AngularUI/src" />
    <add key="imgfile_path" value="E:/Angular15/AngularUI/src/assets/images/" />
    <add key="mailurl" value="http://localhost/Public/" /> 
    <add key="img_path" value="http://localhost/v1/app/img/test.jpg" />
    <add key="telecallingbcc" value="sundar@vcidex.com,praveen@vcidex.com,abilash@vcidex.com" />
    <add key="CCMeetingbcc" value="sundar@vcidex.com,praveen@vcidex.com,abilash@vcidex.com" />
    <add key="ApprovalBccMail" value="sundar@vcidex.com,praveen@vcidex.com,abilash@vcidex.com" />
    <add key="kycapiskey" value="OO5i9uVUBZ0B4GQ" />
   <add key="kycapis1" value="https://api.karza.in/v2/" />
   <add key="kycapis2" value="https://api.karza.in/v3/" />
   <add key="kycapis3" value="https://gst.karza.in/prod/v1/" />
  <add key="staticmapapiurl" value="https://maps.googleapis.com/maps/api/staticmap?" />
  <add key="staticmapzoomlevel" value="17" />
<add key="staticmapimagesize" value="400x400" />
<add key="findplaceapiurl" value="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?" />
<add key="placephotoapiurl" value="https://maps.googleapis.com/maps/api/place/photo?" />
<add key="placedetailapiurl" value="https://maps.googleapis.com/maps/api/place/details/json?" />
  <add key="geocodingapiurl" value="https://maps.googleapis.com/maps/api/geocode/json?" />
<add key="googlemapsapikey" value="AIzaSyAckX_b18nCXo2V73sSmfUsExSj_NL2iaM" />

    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.6.0" newVersion="6.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>